fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg[binary]
pydantic
pydantic-settings
python-dotenv
bcrypt<5
python-jose[cryptography]
email-validator
python-multipart
pypdf
pgvector
sentence-transformers
httpx
